<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge"><%= @num_followings %></span>
        <%= link_to "Follows", followings_user_path %>
      </li>
      <li class="list-group-item">
        <span class="badge"><%= @num_followers %></span>
        <%= link_to "Followers", followers_user_path %>
      </li>
    </ul>
  </aside>
  <div class="col-md-9">
    <h1>Follow</h1>
    <ul class="list-group">
      <% if @users %>
        <%= render @users %>
      <% end %>
    </ul>
  </div>
</div>
